<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Jumpo">  


<select id="SearchDeptList"
resultType="com.green.mart.vo.work.SearchDeptVo">
SELECT D.D_NAME ,  P.P_SEQ, P.P_ID, P.P_NAME, P.P_IPRICE , NVL(S.ST_NUM, 0) ST_NUM 
FROM DEPT D , PRODUCT P , STOCK S
WHERE D.D_ID(+) = P.D_ID
AND P.P_SEQ = S.P_SEQ(+)
AND D.D_NAME LIKE '%'||#{d_name}||'%'
AND P.J_ID = '12020'
ORDER BY D.D_NAME ASC
</select>

<insert id="InsertOrder">
INSERT INTO ordering (
        O_ID,
        O_NUM,
        O_DATE,
        E_ID,
        P_SEQ,
        D_ID
) VALUES (
(SELECT NVL(MAX(O_ID), 0) + 1 FROM ordering),
#{o_num} ,
TO_DATE( #{o_date} , 'YYYY-MM-DD' ) ,
'0001',
(SELECT P_SEQ FROM PRODUCT WHERE P_NAME =  #{p_name} AND J_ID =12020),
(SELECT D_ID FROM DEPT WHERE D_NAME =  #{d_name} )
)
</insert>

 
</mapper>





   